*{
	font-family: "Microsoft YaHei";
	outline: none;
}

#sidebar{
	color: #fff;
}

#avatar{
	text-align: center;
	margin: 20px 0 10px 0;
}
.round-border{
	display: inline-block;
	border: 1px solid #fff;
	padding: 1px;
	background: #fff;
	border-radius: 50%;
	width: 100px;
	height: 100px;
}

#username{
	text-align: center;
}